.content{
    width: 96%;
    height: 30rem;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.pic{
    width: 50%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.description{
    padding: 2%;
    width: 50%;
    background-color: #aaffaa;
}

.description h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.description p{
    line-height: 1.5;
    color: #323232;
}