a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}



.graphs{
    width: 90%;
    margin: 1rem auto;
}

.cards1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.data1{
    background-color: #aaffaa;
    line-height: 2.5;
    padding: 5%;
    border-radius: 10px;
    margin-top: 1rem;
}

.data1 h2{
    text-transform: uppercase;
    font-weight: 300;
    color: #006400;
}

.border{
    background-color: brown;
    width: 100%;
    height: 5px;
}

.data1 img{
    width: 30px;
}

.graph2{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    background-color: #aaffaa;
    padding: 2%;
    border-radius: 10px;
}

.graphcontent h2{
    color: #006400;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}