div.taskreports{
    padding: 2%;
    width: 96%;
    margin: 0 auto;
    background-color: #aaffaa;
    border-radius: 10px;
    margin-top: 2rem;
}

.reportform{
    display: flex;
    justify-content: space-around;
}

.taskreports h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.btn7{
    width: 15rem;
}