div.irrigation-tasks{
    padding: 2%;
    width: 96%;
    background-color: #aaffaa;
    margin: 2rem auto;
    border-radius: 10px;
}

.irrigation-tasks .irrigation-header{
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
}

.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.submitbtn{
    width: 15rem;
    background-color: #323232;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    transform: translate(200%, 50%);
}

.submitbtn:hover{
    background-color: #006400;
}