body{
    background-size:100% 120%;
    background-attachment:fixed;
	background-repeat:no-repeat;
	margin:0px;
	margin-top:10px;
	}
	
h1{
	font-family:consolas;
	font-size:100px;
}

p{
	font-family:consolas;
	color:white;
}

h2{
	font-family:consolas;
}

ul{
	list-style:none;
	display:inline;
}

.nav{
	background-color:#228b22;
	height:70px;
	display:flex;
}

.nav1{
	padding-top:20px;
	margin-left:100px;
}

#imglg ul li{
	display:inline;
	float:right;
	padding-left:20px;
	padding-right:20px;
}

#imglg{
	margin-left:10%;
}

.nav .logo{
	padding-top:20px;
}

.logo{
	height:25px;
	width:25px;
}

a{
	text-decoration:none;
	color:black;
}

.introp{
	color:white;
	margin-left:650px;
	margin-right:100px;
}

.introh1{
	color:white;
	margin-top:150px;
	margin-left:100px;
}

.pmain{
	height:300px;
	display:flex;
	justify-content:space-evenly;
}

.p1{
	width:400px;
	height:200px;
	margin-top:50px;
	color:white;
}

.pimage{
	height:50px;
	width:50px;
}

.partners{
	height:50px;
	background-color:#228b22;
	display:flex;
	justify-content:space-evenly;
}

.icons{
	height:50px;
	width:50px;
}

.foot{
	height:200px;
	margin-top:50px;
	color:white;
	font-family:consolas;
	display:flex;
	justify-content:space-evenly;
	border:1px solid white;
	border-radius:10px;
}

.contacts{
	background-color:white;
	display:flex;
	justify-content:space-evenly;
	width:70%;
	margin:0 auto;
}

.f2{
	width:400px;
}

.f2 ul li a{
	color:white;
}

.nav1 ul li a:hover{
	background-color:#006400;
	color:white;
}


.f2 ul li a:hover{
	background-color:white;
	color:black;
	padding:1px;
}

.dropbtn{
    background-color:#228b22;
    color:white;
    border:none;
    padding-left:30px;
	font-size:140%;
	font-family:consolas;
}

.dropdown{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    min-width:160px;
}

.dropdown-content a{
    color:black;
    text-decoration:none;
    display:block;
    margin-left:20px;
    padding:10px;
    background-color:#fafafa;
	font-size:80%;
	font-family:consolas;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
	background-color:#006400;
	color:white;
}